.mainContainer {
  display: flex;
  width: 1200px;
  height: 642px;
  position: absolute;
  margin-left: 120px;
  margin-right: auto;
  margin-top: 4vh;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
}

.leftContainer, .rightContainer {
  background: var(--black-5);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left; 
  align-items: left;
}

.leftContainer {
  /* background: var(--black-5); */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: var(--black);
  padding-top:48px;
  padding-left: 32px;
  margin-right:auto;
}
.leftContainer h1 {
  /* width: 100%;
  height: 61px; */
  font-size: 52px;
  color: var(--primary);
  /* margin-top: 26px; */
  margin-left:24px;
  /* padding-left: 8px; */
  gap:64px;
}
.labelContainer {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  gap: 1px;
}
.labelContainer label {
  margin-left: 24px;
}

/* css for right container starts here */
.rightContainer {
  background: var(--gradient);
  color: white;
  padding-top:48px;
  display: flex;
  flex-direction: column;  
  /* justify-content: space-around; */
  align-items: start;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  /* gap: 100px; */
}

.greetContainer {
  width: 100%;
  height:344px;
  margin-top:20px;
  padding-top:20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.greetContainer h1{
  font-size: 44px;
  font-weight:900;
  line-height: 22px;
  letter-spacing: 2.25px;
  padding-left: 32px;
}
.greetContainer span{
  font-size: 22px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 2.25px;
  padding-left: 32px;
}
.queryLabel{
  display: flex;
  justify-content: center; 
  align-items: center;    
  bottom: 0; 
  position: absolute;
  width: 100%;
  letter-spacing: 1.75px;
  gap:26px;
}
.buttonWrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .rightContainer {
    display: none;
  }
  .buttonWrapper {
    width: 60%;
  }
}