.main-container {
  display: flex;
  width: 1200px;
  height: 642px;
  position: absolute;
  margin-left: 120px;
  margin-top: 4vh;
  box-shadow: var(--shadow-1);
  background: var(--black-5);
  /* half of you height */

}

.left-container h1 {
  width: 100%;
  height: 61px;
  font-size: 52px;
  color: var(--primary);
  margin-top: 26px;
  margin-left:24px;
  padding-left: 8px;
  gap:64px;
}

.left-container, .right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left; 
  align-items: left;
}

.left-container {
  
  /* background: var(--black-5); */
  color: var(--black);
  margin-top:48px;
  margin-left: 32px;
  margin-right:auto;
}

.left-container h2 {
  font-size: 44px;
  margin-bottom: 8rem;
}

.label-container {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  gap: 1px;
}
.label-container label {
  margin-left: 24px;
}

.left-button-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: start;
}

.right-container {
  background: var(--gradient);
  color: white;
  justify-content: space-around;
  /* align-items: start; */
}

.right-container {
  /* display: flex;
    flex-direction: column; */
    width: 100%;
    gap: 1px;
}

.right-container label {
  /* text-decoration: line-through; */
  font-size: var(--subtitle);
  font-weight: bold;
}

.button-wrapper {
  width: 320px;
}

@media only screen and (max-width: 600px) {
  .right-container {
    display: none;
  }

  .button-wrapper {
    width: 60%;
  }
}