.input {
  border: none;
  background: #F5F2F4;
  padding: 0;
  margin: 0;
  width: 100%;
  /* font-weight: 600; */
  font-size: var(--text);
  /* outline: none; */
  box-shadow: var(--shadow);
  padding: 0.75rem 0.5rem;
  /* margin-bottom: 20px; */
  border-radius: 40px;
  padding-left:16px;
  box-shadow:var(--shadow-2);
}

.input:hover,
.input:focus,
.input:active {
  border: none;
  outline: none;
}

.input::placeholder {
 
  color: var(--black-75);
  opacity: 1;
}
