.mainContainer {
  /* display: flex;
  width: 100%;
  height: 100vh; */
  /* background-color: rgb(243, 184, 184); */
  display: flex;
  width: 1200px;
  height: 642px;
  position: absolute;
  margin-left: 120px;
  margin-right: auto;
  margin-top: 4vh;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
}

.leftContainer,
.rightContainer {
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background: var(--black-5);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left; 
  align-items: left;
}

.leftContainer {
  /* background: var(--gradient); */
  color: white;
  justify-content: space-around;
  align-items: start;
}

.queryLabel{
  
}

.rightContainer {
  background: var(--black-5);
}

.leftContainer h2 {
  font-size: 44px;
  margin-bottom: 8rem;
}

.leftButtonContainer {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: start;
}

.rightContainer .labelContainer {
  min-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rightContainer label {
  /* text-decoration: line-through; */
  font-size: var(--subtitle);
  font-weight: bold;
}
.buttonWrapper {
  width: 200px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }

  .button-wrapper {
    width: 60%;
  }
}
