.button {
  width: 100%;
  border: none;
  background: var(--secondary);
  color: white;
  padding: 0.8rem 1.5rem;
  margin-left: 4px;
  font-size: var(--text);
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
}

.button-extra:hover {
  background: var(--gradient);
}

.button-extra:active {
  background: var(--gradient);
  border: 1px solid var(--black-75);
}

.button-extra:disabled {
  background: var(--gray);
  border: 1px solid transparent;
}

.button-primary {
  background: var(--primary);
}

.button:hover {
  background: var(--gradient);
  border: 1px solid transparent;
}

.button:active {
  background: var(--gray);
  border: 1px solid var(--black-75);
}

.button-primary:active {
  background: var(--primary);
  border: 1px solid var(--black-75);
}

.rounded {
  border-radius: 16px;
}
